<div class="input-group">
    {{input enter='doSearch' type="text" value=searchText placeholder="输入关键字搜索" class="form-control"}}
    <span class="input-group-btn">
        <button {{action 'doSearch'}} class="btn btn-primary" type="button">搜</button>
    </span>
</div>