<div class="container">
    <div class="page-not-found lb-center-box">
        <img  class="pull-left" src="images/cry.jpg" />
        <div>
            <h1>404</h1>
            <p>
                没找到页面&nbsp;&nbsp;{{#link-to "index"}}&nbsp;返回主页{{/link-to}}
            </p>
        </div>
    </div>
</div>